/*  © Share The Hope 2024 */
img {
  padding-top: 150px;
  padding-left: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #457830;
  text-align: center; 
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
}

li {
  display: inline-block;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #e9d261   ;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.top {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding-left: 100px;
  
}
.banner { 
  padding-left: 50px;

}

.name {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 50px;  

}

.script {
  padding-left: 50px;
  padding-top: 50px;
  width: 200px;

}

hr.line {
  display:block;
  border:0px;
  height:10px;
  width: 100%;
  border-bottom: 10px solid #e9d261;
  color: #e9d261;
  align-items:baseline;
}

.logo {

  padding-top: 0px;
  padding-left: 0px;

}


.Topic {
  padding-left: 100px;
  width: 1400px;
  font-size: 24px;
}

.namet{
  text-align: center;
  font-size: 24px;
}

.namer {
font-size: 24px;
  text-align: center;

}

.longbioa{
  align-self: flex-start;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 500;
  padding-top: 200px;
  text-indent: 50px;
  padding-top: 50px;

}

.longbiob{
  align-self: flex-start;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 500; 
  text-indent: 50px;
  padding-top: 0;

}

.longbioc{
  align-self: flex-start;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 500; 
  text-indent: 50px;
  padding-top: 0;;

}

.longbiod{
  align-self: flex-start;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 500; 
  text-indent: 50px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  width: 1300px;

}

.longbioe{
  align-self: flex-start;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 500; 
  text-indent: 50px;
  padding-top: 0;
  width: 1300px;
}


.headerb {
  font-size: 24px;
  text-align: center;
}

.rha { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;

}

.rhb { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
  
}

.rhc { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 520px ;
}

.rhd { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 520px;
  
}

.rhe{ 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
  
}

.rhf { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
  
}

.rhg { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhh { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhI { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhj { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhk{ 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhl { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}


.rhm { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}


.rhn { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}


.rho { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}

.rhp { 
  font-size: 24px;
  text-indent: 10px;
  padding-left: 100px;
}




.photo {
  float: right;
  padding-left: 10px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.linkt {
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;  
  background-color: #e9d261;
  color: #457830;
  text-align: center;
}

div {
display: block;
unicode-bidi: isolate;
}

body {
  background-color: #f9f3d3;  
  margin: 0px;
}
/*  © Share The Hope 2024 */
