
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #457830;
    text-align: center; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
  }
  
  li {
    display: inline-block;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #e9d261   ;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .top {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-shrink: initial;
  
  }
  
  .name {
  
  margin-top: 300px;
  margin-left: 400px;
  font-size: 40px;
  font-weight: 500;
  } 
  
  

  
  .banner {
  
  justify-content: center;
  width: auto;
  height: 300px;
  margin-top: 200px;
  padding-left: 50px;
  padding-bottom: 250px;
  
  }
  
  
  hr.line {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: initial;
  flex-shrink: initial;
  border:0px;
  height:10px;
  width: 100%;
  border-bottom: 10px solid #e9d261;
  color: #e9d261;
  align-items:baseline;
  margin-top: -150px;
  }
  

.service {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-shrink: initial;
    padding-bottom: 1000px;
}

.title {
    margin-top:  -100px;
    margin-left: 600px;
    font-size: 36px;
    font-weight: 900;
}


.one {
  margin-left: -965px;
  margin-right: 100px;
    font-size: 30px;
    font-weight: 400;
}

.two {
    margin-top:  10px;
    padding-left: 200px;
    margin-right: 900px;
    font-size: 30px;
    font-weight: 400;
}

.three {
    margin-top:  10px;
    padding-left: 200px;
    margin-right: 900px;
    font-size: 30px;
    font-weight: 400;
}


.four {
    margin-top: 2px;
    margin-left: -600px;
    font-size: 30px;
    font-weight: 400;
}

.five {
    margin-top:  72px;
    margin-left: -782px;
    margin-right: 0px;
    font-size: 30px;
    font-weight: 400;
}

.content {
    margin-top:  10px;
    padding-left: 200px;
    margin-right: 900px;
    font-size: 24px;
    font-weight: 400;

}

.own {
margin-top: 89px;
margin-left: -69px;
margin-right: 100px;
    font-size: 30px;
    font-weight: 400;
}

.own2 {
margin-left: 196px;
  margin-right: -140px;
    font-size: 28px;
    font-weight: 400;
}

.own3 {
  margin-top: 150px;
    margin-left: 332px;
    margin-right: 300px;
    font-size: 28px;
    font-weight: 700;
}

.own4 {
    text-align: center;
    margin-top: 334px;
    margin-left: -750px;
    font-size: 28px;
    font-weight: 700;
}

.own5 {
    width: auto;
    height: 300px;
    margin-top: 326px;
    margin-left: -242px;
    margin-bottom: 100px;
}


.own6 {
    padding-top: 200px;
    padding-left: 100px;
    margin-left: 100px;
    margin-right: 200px;
    font-size: 28px;
    font-weight: 700;
}

.own7 {
    padding-left: 50px;
    margin-right: 500px;
    font-size: 28px;
    font-weight: 700;
    margin-left:  -650px;
}

.big {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 60px;
    margin-right: 700px;
}

.own8 {
    margin-top:  -110px;
    padding-left: 800px;
    margin-right: 500px;
    font-size: 24px;
    font-weight: 400;
}

.content2 {
    margin-top:  -50px;
    padding-left: 200px;
    margin-right: 900px;
    font-size: 24px;
    font-weight: 400;
}


.content3 {
  margin-top:  5px;
  padding-left: 200px;
  margin-right: 900px;
  font-size: 24px;
  font-weight: 400;
}


.own10 {
  margin-top: 195px;
  margin-left: -862px;
  margin-right: 100px;
  font-size: 24px;
  font-weight: 400;
}

.one10 {
  margin-top: 89px;
  margin-left: 5px;
  margin-right: 100px;
  font-size: 30px;
  font-weight: 400;
}


.own11 {
  margin-top: 142px;
  margin-left: -79px;
  margin-right: 100px;
  font-size: 30px;
  font-weight: 400;
}


.own12 {
  margin-top: 143px;
  margin-left: -884px;
  margin-right: 100px;
  font-size: 30px;
  font-weight: 400;
}
.one13 {
  margin-top: 85px;
  margin-left: -1183px;
  margin-right: 100px;
    font-size: 30px;
    font-weight: 400;
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    background-color: #e9d261;
    color: #457830;
    text-align: center;
    text-decoration: none;
  }
  
  
  .share_link {
    text-decoration: none;
    color: #457830;
  }
  
  .facebook {
    padding-top: 0px;
    padding-left: 0px;
  }
  
  
  
  body {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-shrink: initial;
    font-family: 'Times New Roman';
    margin: 0;
    background-color: #f9f3d3;
    width: 1920px;
    height: 1080px;
  }