/*  © Share The Hope 2024 */
img {
    padding-top: 150px;
    padding-left: 200px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #457830;
    text-align: center; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
  }
  
  li {
    display: inline-block;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #e9d261   ;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .top {
    display: flex;
    align-items: center;
    margin-top: 1px;
    padding-left: 100px;
    
  }
  .banner { 
    padding-left: 50px;
  
  }
  
  .name {
    padding-top: 100px;
    padding-left: 100px;
    font-size: 50px;  
  
  }
 
  
  hr.line {
    display:block;
    border:0px;
    height:10px;
    width: 100%;
    border-bottom: 10px solid #e9d261;
    color: #e9d261;
    align-items:baseline;
  }
  
  .logo {
  
    padding-top: 0px;
    padding-left: 0px;
  
  }
  
  
  .Topic {
    padding-left: 100px;
    width: 1400px;
    font-size: 24px;
  }
  
  
.blurb {
  width: 1600px;
  margin-left: 100px;
  font-size: 24px;
  font-weight: 600;
  text-indent: 50px;
}

.disclamer{
  font-size: 36px;
  font-weight: 900;
  width: 1600px;
margin-left: 200px;
}


.photoa {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photob {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoc {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}


.photod {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoe {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photof {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}



.photog {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoh {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoi {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}


.photoj {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photok {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photol {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}

.photom {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photon {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoO {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}

.photop {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photoq {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photor {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
}


.photos {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photot {
  width: 500px;
  height: 500px;
  margin-left: -50px;
}

.photou {
  width: 500px;
  height: 500px;
  margin-right: 150px;
  margin-left: 1200px;
  margin-top: -700px;
  margin-bottom: 20px;
  
}

  
  .linkt {
    text-decoration: none;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    background-color: #e9d261;
    color: #457830;
    text-align: center;
  }
  
  div {
  display: block;
  unicode-bidi: isolate;
  }
  
  body {
    font-family: 'Times New Roman';
    background-color: #f9f3d3;  
    margin: 0px;
  }
  /*  © Share The Hope 2024 */
  